.space-for-adds {
  width: 28%;
  height: 60px;
  background-color: red;
  display: inline-block;
  margin-right: 0;
  margin-top: 10px;
}
.main-container {
  background-color: black;
  width: 100%;
  height: 80px;
  box-shadow: 3px;
}
.logo {
  width: 20%;
  height: 60px;
  background-color: red;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  margin-top: 0;
}
.top-menu {
  height: 80px;
  width: 50%;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  text-align: center;
}
.top-menu ul li {
  display: inline-block;
}
.top-menu ul li a {
  color: white;
  text-decoration: none;
  text-align: center;
}
.top-menu ul {
  padding-left: 0;
}
.space-for-adds input {
  width: 98%;
  height: 55px;
}
.br-news {
  background-color: orange;
  color: white;
  width: 17%;
  height: 60px;
  display: inline-block;
  margin-bottom: 10px;
}
.h4-1 {
  display: inline-block;
  width: 25%;
}
.h4-2 {
  display: inline-block;
  width: 25%;
}
.top-news {
  border: 4px black solid;
  width: 100%;
  height: 70px;
  background-color: whitesmoke;
}
.b1 {
  display: inline-block;
  color: gray;
  width: 33%;
  text-decoration: none;
}
.b2 {
  display: inline-block;
  color: white;
  width: 33%;
  text-decoration: none;
}
.b3 {
  display: inline-block;
  color: gray;
  width: 33%;
  text-decoration: none;
}
.buttons {
  display: inline-block;
  width: 32%;
  height: 60px;
  background-color: blue;
  margin-bottom: 10px;
}
.buttons a {
  color: white;
  text-align: center;
}
.main-block {
  background-color: gainsboro;
  width: 100%;
  height: 500px;
  box-shadow: 5px;
}
.main-block p {
  vertical-align: middle;
  text-align: center;
  margin-top: 0;
}
