* {
  margin: 0;
  padding: 0;
}
body {
  background: #b6d5e7;
}
.main-container {
  width: 1200px;
  height: 300px;
  margin: 20px auto 0 auto;
  box-shadow: 0 10px 15px 3px grey;
}
.header-top {
  background-color: #31373b;
}
.logo {
  /* display: inline-block; */
  width: 20%;
  /* margin-right: -4px; */
  /* vertical-align: middle; */
  float: left;
}
.logo img {
  width: 100px;
  margin-left: 20px;
}
.top-menu {
  float: left;
  /* display: inline-block; */
  width: 50%;
  /* margin-right: -4px; */
  /* vertical-align: middle; */
}
.clear {
  clear: both;
}
.top-menu ul {
  list-style: none;
}
.top-menu ul li {
  display: inline-block;
}
.top-menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 1px 10px;
  border-right: 1px solid #fff;
}
.top-menu li:last-child a {
  border: none;
}
 .adv-section {
  width: 30%;
  height: 20px;
  background-color: #fff;
  float: right;
}
.news-container {
  width: 100%;
  height: 30px;
  background-color: #fff;
}
.bracking-news {
  position: relative;
  width: 10%;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  background-color: #d91d45;
  margin-right: -4px;
}
.angle {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  right: -5px;
  background-color: #d91d45;
  transform: rotate(45deg);
}
.news-block {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  text-align: center;
}
.news-block p {
  display: inline-block;
  vertical-align: middle;
}
.social-block {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  height: 30px;
}
.social-block:before {
  content:'';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.social-block ul {
  list-style: none;
  vertical-align: middle;
  display: inline-block;
}
.social-block ul li {
  display: inline-block;
}
.content p {
  padding: 20px;
}
.content p::selection {
  color: red;
  background-color: #fff;
}
/* Peseudo elements's page */
 p.hover-example {
   width: 300px;
   margin-left: 30px;
   margin-top: 30px;

}
/* p.hover-example:before {
  content:'1';
  width: 20px;
  height: 20px;
  background-color: black;
  color: red;
  font-weight: bold;
  font-size: 20px;
} */
p.hover-example:after {
  content:'2';
  width: 20px;
  height: 20px;
  background-color: black;
  color: red;
  font-weight: bold;
  font-size: 20px;
}
p.hover-example:first-letter {
  font-size: 35px;
}
p.hover-example:first-line {
  color: yellow;
}
p.hover-example::selection {
  color: red;
  background-color: black;
}
ul.menu-example {
  margin-left: 30px;
  margin-top: 30px;
}
ul.menu-example li {
  padding: 10px;
}
ul.menu-example li a {
  font-size: 25px;
  padding: 10px;
  text-decoration: none;
}
/* ul.menu-example li.first a {
  font-size: 25px;
  background-color: yellow;
} */
ul.menu-example li:first-child a {
  font-size: 25px;
  background-color: red;
}
ul.menu-example li:first-child a {
  font-size: 25px;
  background-color: red;
}
ul.menu-example li:nth-child(2) a {
  font-size: 25px;
  background-color: black;
}
/* ul.menu-example li:nth-child(even) a {
  font-size: 25px;
  background-color: black;
} */
/* ul.menu-example li a:hover {
  color: #fff;
  background-color: blue;
} */
/
/* ul.menu-example li a:visited {
  color: red;
  border-bottom: 4px dashed black;
} */
